<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4> Leave a comment </h4>
        <p> You can leave the comment using this comment form </p>
    </div>

    <form class="m-3">
        <div class="form-group">
            <label for=""> Name </label>
            <input type="text" class="form-control shadow-effect" placeholder="Enter your name here">
        </div>

        <div class="form-group mt-2">
            <label for=""> Comment </label>
            <textarea cols="30" rows="10" class="form-control" placeholder="Add you comment here"></textarea>

            <button class="btn btn-info btn-theme mt-3"> Add a comment</button>

        </div>

    </form>

</div>