/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";


:root{
    --primary-color: #006972ff;;
    --secondary-color: #e5f5ea;
    --body-text-color: #9f759a;
    --navbar-footer-color: #44699718; 
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--body-text-color);
}

a{
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.site-logo{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.nav-link{
    color: var(--primary-color);
}

.shadow-effect{
    border: none;
    box-shadow: 0px 0px 33px -10px rgba(71, 214, 254, 0.3);
}

.bg-theme{
    background-color: var(--primary-color);
}

.bg-secondary-theme{
    background-color: var(--secondary-color);
}

.text-theme-primary{
    color: var(--primary-color);
}

input[text], input[email]{
    height: 60px ;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;
}

.btn-sub{
    height: 30px ;
    border: none;
    font-size: 13px;
    color: var(--primary-color);
}

.btn-theme{

    height: 40px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
}