<div class="card shadow-effect">
    <img src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1698710400&semt=sph" alt="post-image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center m-1"> Featured </small>
        <small class="bg-light text-info text-center ml-3 m-1"> Views 100,345 </small>

        <h5 class="mt-1"> How to Start a blog ini 2021 edited new category</h5>

        <p>Google LLC is an American multinational technology company focusing on artificial intelligence, online advertising, search engine technology, cloud computing, computer software, quantum computing, e-commerce, and consumer electronics.</p>

        <small class="bg-light text-warning text-center ml-3"> Last Updated Sept 20, 2023 </small>


    </div>
</div>