<div class="card">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3> Subscription form</h3>
            <p class="m-auto subs-text mb-3"> This is the subscription form text for the angular application This is the subscription form text for the angular application. This is the subscription form text for the angular application</p>
            <form action="" class="form-inline mb-5" class="into">
               
            <div class="form-group d-flex justify-content-center mb-4">

                <div class="form-outline me-3" style="width: 40rem">
                    <input type="text" class="form-control shadow-effect" placeholder="Your name" />
                </div>

                <div class="form-outline me-3" style="width: 40rem">
                    <input type="text" class="form-control shadow-effect" placeholder="Email Address" />
                </div>

                <button type="button" class="btn btn-info btn-theme">Subscribe</button>

            </div>

            </form>
        </div>
    </div>
</div>